.playerHealth {
    display: flex;
    gap: 0.25rem;
    font-size: 2rem;
}

.heartSlot {
    position: relative;
    width: 1.5em;
    height: 1.5em;
}

.heartSlot .red {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    z-index: 1;
    transition: opacity 1s ease;
}

.heartSlot .black {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    z-index: 0;
}

.fadeOut {
    opacity: 0;
}