.drawer {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -105%);
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    overflow: hidden;
    height: max-content;
    max-width: 100vw;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 8px;
}

.drawer.open {
    transform: translate(-50%, 0);
}